<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth">
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
    <section name="MailSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <dotNetOpenAuth>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- Relaxing SSL requirements is useful for simple samples, but NOT a good idea in production. -->
    <messaging relaxSslRequirements="true" />
  </dotNetOpenAuth>
  <appSettings>
    <!--  远程API域名或IP  -->
    <add key="RemoteDomain" value="http://202.102.25.156:8003/ychapitest/api/V1" />
    <add key="Language" value="1" />
    <add key="PageSize" value="8" />
    <!--  文件上传保存路径  -->
    <add key="UploadFileDomain" value="http://202.102.25.156:8003" />
    <add key="UploadFilePath" value="/UploadPhoto/" />
    <!--  ClientAuthorization  -->
    <add key="ClientId" value="demo-client-1" />
    <add key="ClientSecret" value="demo-client-secret-1" />
    <add key="TokenUri" value="http://202.102.25.156:8003/oauthserver/Auth/Token" />
    <!--支付宝信息begin -->
    <!--收取费用的支付宝帐号 -->
    <add key="AlipayAccount" value="paymail@sip-ych.com" />
    <add key="key" value="fqmhqtyjrbtzscxpgcam7zwp6udvpqze" />
    <add key="partner" value="2088511680236884" />
    <add key="Alipay_Notify" value="/AliPay/Alipay_Notify.aspx" />
    <!--收取费用的第3方支付宝帐号 -->
    <add key="ThirdAlipay" value="adpost@live.com" />
    <!--收取费用的比例 -->
    <add key="MoenyScale" value="0.1" />
    <!--收取费用的说明 -->
    <add key="FeeRemark" value="手续费" />
    <!--支付宝信息end -->
    <!--	QQ OAUTH 信息 开始	-->
    <add key="QQAppid" value="101155835" />
    <!--	QQ OAUTH 信息	结束  -->
    <!--	微博 OAUTH 信息 开始	-->
    <add key="WBAppid" value="2790040823" />
    <!--	微博 OAUTH 信息	结束  -->
    <!--	会员积分及优惠配置 开始	-->
    <!--	积分兑换比率 1.0是1元1分，0.5是2元1分	-->
    <add key="RedeemRatio" value="1.0" />
    <!--	会员折扣比率 	-->
    <add key="MemberDiscounts" value="0.9" />
    <!--	积分商店ID  -->
    <add key="RedeemShopId" value="2015ychjfsc1y" />
    <!--	会员积分及优惠配置	结束  -->
    <!--	注册码	-->
    <add key="License" value="732bc4d1b7844c2b634332b4050a2308" />
    <add key="EyouSoftUD" value="Oe3/CnkvdNFSXr94276akg==b4b34acd8908d81c5aa2dfea33c8ebff" />
  </appSettings>
  <!-- 电子邮件发送设置begin -->
  <system.net>
    <mailSettings>
      <!-- 当SMTP服务器需要启用SSL的时候，需将MailSettings>IsEnableSSL 设置为true -->
      <smtp deliveryMethod="Network">
        <network host="smtp.163.com" userName="ychbdsz@163.com" password="123@abcd"  />
      </smtp>
    </mailSettings>
    <!-- 电子邮件发送设置end -->
  </system.net>
  <MailSettings>
    <add key="IsEnableSSL" value="false" />
    <!--邮件发送的地址-->
    <add key="SendAddress" value="noreply@tongye114.com"/>
    <!--每天发送邮件数控制-->
    <add key="EMailCount" value="20" />
  </MailSettings>
  <system.web>
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="2000000" executionTimeout="300" />
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <pages enableViewState="false" validateRequest="false" enableEventValidation="false" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>