<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth">
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <dotNetOpenAuth>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- Relaxing SSL requirements is useful for simple samples, but NOT a good idea in production. -->
    <messaging relaxSslRequirements="true" />
  </dotNetOpenAuth>
  <appSettings>
    <!--  远程API域名或IP  -->
    <add key="RemoteDomain" value="http://122.224.201.244/ychapi/api/V1" />
    <add key="Language" value="4" />
    <add key="PageSize" value="8" />
    <!--  文件上传保存路径  -->
    <add key="UploadFileDomain" value="http://122.224.201.244" />
    <add key="UploadFilePath" value="/UploadPhoto/" />
    <!--  ClientAuthorization  -->
    <add key="ClientId" value="demo-client-1" />
    <add key="ClientSecret" value="demo-client-secret-1" />
    <add key="TokenUri" value="http://122.224.201.244/oauthserver/Auth/Token" />
    <!--支付宝信息begin -->
    <!--收取费用的支付宝帐号 -->
    <add key="AlipayAccount" value="adpost@live.com" />
    <add key="key" value="bcb0ttmvp1i5lnkvn9knmi7gl8i3j4se" />
    <add key="partner" value="2088101044850041" />
    <add key="Alipay_Notify" value="/AliPay/Alipay_Notify.aspx" />
    <!--收取费用的第3方支付宝帐号 -->
    <add key="ThirdAlipay" value="adpost@live.com" />
    <!--收取费用的比例 -->
    <add key="MoenyScale" value="0.1" />
    <!--收取费用的说明 -->
    <add key="FeeRemark" value="手续费" />
    <!--支付宝信息end -->
    <!--	注册码	-->
    <add key="License" value="55f44790154629bb65d05065c659ff3f" />
    <add key="EyouSoftUD" value="Oe3/CnkvdNFSXr94276akg==9b5a9ea4e5d705fd0862ee76b0219150" />
  </appSettings>
  <system.web>
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="2000000" executionTimeout="300" />
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <pages enableViewState="false" validateRequest="false" enableEventValidation="false" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>