body{margin: 0; padding: 0;}
.into-box{width: 100%; height: 100%;}
.into-box-bg{ background: url(/css/img/banner02.jpg) no-repeat top center;}
.icon{background-image: url(/css/img/icon.png); background-size: 320px 568px; display: inline-block; background-repeat: no-repeat;}

.into-title{ height: 40px; text-align: center; padding-top: 25px;}
.into-logo{ height: 220px; text-align: center; padding-top:30px; }
.into-text{ height: 55px; text-align: center; padding-top: 20px; color: #00BFDA; font-size: 14px;}
.into-text p{line-height: 24px; margin: 0;}
.into-btn{ height: 45px; text-align: center; padding-top: 40px;}
.into-btn a{ display: inline-block; width: 45px; height: 45px;}
.into-foot{ height: 30px; text-align: center; padding-top: 40px;}
.into-down{ height: 70px; padding-top: 10px; text-align: center; width: 140px; margin: 0 auto;}
.into-down a{ margin:0px 10px; display: block; float:left; font-size: 12px; text-decoration: none; color: #6DC729;}
.into-down a p{ height: 30px; margin: 0; text-align: center;}


.icon-title{ background-position: -75px -30px; height: 30px; width: 170px;}
.icon-logo{ background-position: -45px -100px; height: 220px; width: 220px;}
.icon-text{ background-position: -75px -360px; height: 55px; width: 170px;}
.icon-btn{ background-position: -140px -450px; width: 45px; height: 45px;}
.icon-foot{ background-position: -55px -535px; width: 210px; height: 30px;}
